@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-slate-900 text-slate-100;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(.36,.07,.19,.97) both;
}